<div class="main-content ">
  
  <mat-tab-group>


    <mat-tab label="Google Api Key">
      <app-config-apikey></app-config-apikey>
  
    </mat-tab>
    <mat-tab label="Categorias">
      <app-config-categorias></app-config-categorias>
  
    </mat-tab>

    <mat-tab label="Organizaciones">
        <app-config-organizacion></app-config-organizacion>
    
      </mat-tab>
  </mat-tab-group>

  
</div>
