<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>

    <mat-nav-list>
      <div class="nav">
        <div class="row">
          <div class="col-md-5">
            <a href="index.html">

              <img width="110" src="./assets/img/Logo Identidad.png" class="navbar-brand-img" alt="...">
            </a>
          </div>
          <div class="line-title"></div>
          <div class="col-md-1">
            <a href="index.html">
              <img width="130" src="./assets/img/Gifmm.jpg" class="navbar-brand-img" alt="...">
            </a>
          </div>
        </div>
      </div>
      <a mat-list-item class="nav-link" (click)="setTitle('ESTADISTICAS')" routerLink="estadisticas">
        <i class="fas fa-signal "> </i> <span class="title-nav" style="margin-left: 10px;">ESTADISTICAS</span>
      </a>

      <a mat-list-item class="nav-link" (click)="setTitle('PUNTOS REGISTRADOS')"  routerLink="puntos">
        <i class="fas fa-map-marker-alt"> </i> <span class="title-nav" style="margin-left: 10px;">PUNTOS
          REGISTRADOS</span>
      </a>
      <a mat-list-item class="nav-link" (click)="setTitle('REGISTRAR PUNTOS')"  routerLink="registrar-puntos">
        <i class="fas fa-pen"></i> <span class="title-nav" style="margin-left: 10px;"> REGISTRAR PUNTOS </span>
      </a>

      <a mat-list-item class="nav-link" (click)="setTitle('BUZON DE ALERTAS')"  routerLink="alerts">
        <i class="fas fa-bell"></i> <span class="title-nav" style="margin-left: 10px;"> BUZON DE ALERTAS </span>
      </a>


      <a mat-list-item class="nav-link " *ngIf="role != 'USER'" (click)="setTitle('ENTRADAS')"  routerLink="entradas">
        <i class="fas fa-search-plus"></i><span class="title-nav" style="margin-left: 10px;"> ENTRADAS</span>
      </a>
      <!-- <a mat-list-item class="nav-link " routerLink="crear-entradas">
        <i class="fas fa-search-plus"></i><span class="title-nav" style="margin-left: 10px;"> CREAR ENTRADAS</span>
      </a> -->
      <a mat-list-item class="nav-link" *ngIf="role != 'USER'" (click)="setTitle('ADMINISTRADOR')"  routerLink="admin">
        <i class="ni ni-single-02"></i><span class="title-nav" style="margin-left: 10px;"> ADMINISTRADOR</span>
      </a>

      <a mat-list-item class="nav-link" *ngIf="role == 'ADMIN'" (click)="setTitle('CONFIGURACIÓN')"  routerLink="config">
        <mat-icon>settings</mat-icon><span class="title-nav" style="margin-left: 10px;"> CONFIGURACIÓN</span>
      </a>
    </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar style="background-color: #52c1d3;">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button style="color: #ffffff;"
        (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="color: #FFF; margin: auto;">{{name}}</span>
      <div style="padding: 10px;" (click)="logaut()">
        <mat-icon style="color: #FFF;"> remove_circle_outline</mat-icon>
        <span style="color: #FFF;font-size: 15px;padding: 5px;vertical-align: text-bottom;">SALIR</span>

      </div>
    </mat-toolbar>
    <!-- Add Content Here -->


    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
