body {
  overflow-y: hidden;
}

/* mat-sidenav{
  background-image: url("../../../assets/img/fondoLateral.jpeg");

} */

.sidenav-container {
  height: 95vh;
}

.sidenav {
  width: 340px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-link {
  margin-left: 40px;
  font-weight: bold;
  font-size: 18px;
  color: #524e4e;
  margin-top: 5px;
}

.nav-link:focus{
  color: darkgray;
  i,  mat-icon{
    background: rgb(241, 167, 5) !important;
    color: rgb(241, 167, 5) !important;
    border-radius: 50%;
  }
 
}



i {
  font-weight: bold !important;
}

.nav {
  margin-bottom: 60px !important;
  margin-left: 50px !important;
}

.nav-link {
  margin-left: 40px;
}
