<div class="container mt-3">
  <div class="row col-md-12">
    <div class="title col-md-2 py-2"> Filtrar por:</div>
    <div class="form-group col-md-3">

      <input type="date" [formControl]="fecha" value="" class="form-control redondeado" min="2006-01-01">

    </div>
    <div class="col-md-4">
      <input [formControl]="titulo" class="form-control redondeado" type="text" placeholder="titulo">
    </div>
    <button class="col-md-3 col-md-offset-1 btn btn-primary redondeado" routerLink="../crear-entradas"
      style="height: 48px;">AÑADIR NUEVA ENTRADA</button>
  </div>

  <hr>

  <div *ngFor="let post of (posts | fEntradaTitle : fTitulo | fEntradasDate : fFecha) ">
    <div class="row col-md-12 py-2">
      <span class="col-md-8 title">
        <mat-icon class="mr-3">fiber_manual_record</mat-icon> {{post.title | uppercase}}
      </span>
      <span class="col-md-2">
        {{ post.dateCreation?.seconds * 1000 | date : 'dd/MM/yyyy'}}
      </span>
      <button class="btn redondeado" routerLink="../entrada/{{post.id}}">Editar</button>
      <button class="btn btn-warning redondeado">Ver</button>
      <button (click)="delete(post.id)" class="btn btn-error redondeado">Borrar</button>
    </div>
  </div>
</div>
