<div class="card">
  <div class="tile-content">
    <mat-icon class="icon-title">arrow_right</mat-icon>
    <h2>FORMULARIO DE OFERTA PARA LA ASISTENCIA DE CAMINANTES</h2>
  </div>

  <div class="container">

    <app-spinner-overlay [overlay]="overlay"></app-spinner-overlay>

    <!-- <form [formGroup]="ubicationForm" novalidate> -->
      <div class="title">
        <h3>Título</h3>
        <div class="input-group mb-3 input-content">
          <input  [(ngModel)]="points.title" matInput placeholder="Título del Punto" />
        </div>
      </div>

      <div class="description">
        <h3>Descripción</h3>
        <div class="input-group mb-3 input-content">

          <textarea matInput  [(ngModel)]="points.desc"
            placeholder="Coloque una descripción del punto"></textarea>
        </div>
      </div>

     

      <div class="orgs">
        <h3>Olganizaciones</h3>

        <div class="org-select">
          <div *ngFor="let o of listOrganysSelects">
            <div class="organy">
              <label for="">{{o.data.name}}</label>
              <mat-icon  class="cursor" (click)="del(o)">cancel</mat-icon>
            </div>
          </div>
        </div>

        <div class="input-group mb-3 input-content">

          <mat-select (selectionChange)="setOrgany($event.value)"
             placeholder="Seleccionar">
            <mat-option *ngFor="let org of listOrganys" [value]="org">
              {{ org.data.name }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="line"></div>

      <div class="ubication">
        <h3>Departamento</h3>
        <mat-form-field class="select">
          <mat-select [(ngModel)]="points.ubication.departamento" (selectionChange)="onChange($event.value)"
            placeholder="Seleccionar">
            <mat-option *ngFor="let depto of listData" [value]="depto.departamento">
              {{ depto.departamento }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h3 style="margin-left: auto;">Municipio</h3>

        <mat-form-field class="select">
          <mat-select [(ngModel)]="points.ubication.municipio"  placeholder="Seleccionar">
            <mat-option *ngFor="let depto of listCitys" [value]="depto">
              {{ depto }}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>
      <div class="fija-movil">
        <h3>¿La ubicación del punto es movil?: </h3>

        <mat-form-field class="select-fija">
          <mat-select (selectionChange)="initMap($event.value)" aria-label="Select an option"
            [(ngModel)]="points.ubication.iterante" placeholder="Seleccionar">
            <mat-option value="1">Si</mat-option>
            <mat-option value="0">No</mat-option>
          </mat-select>
        </mat-form-field>


      </div>
      <div class="container-map" *ngIf="points.ubication.iterante == 0">
        <h3>Seleccione ubicación </h3>
        <div class="fija-movil">
          <h3>Buscar lugar o dirección </h3>

          <div class="input-group mb-3 input-content address-input">
            <input type="text" [(ngModel)]="points.ubication.address" #address id="address" 
              (keydown)="setAddress()" class="input" aria-label="Username" aria-describedby="basic-addon1" />
          </div>


        </div>



        <div #mapContainer id="map"></div>
      </div>



      <div class="line"></div>
      <div class="images">
        <div class="title">
          <h3>Fotos de punto de atención</h3>
        </div>
        <br />
        <div class="container-input-file">
          <label class="custom-file">
            <!-- <mat-icon>home</mat-icon> -->
            <input class="file-input" type="file" (change)="cambioArchivo($event)" />
          </label>
        </div>
      </div>
      <img *ngIf="src" width="300" height="500" [src]="src" alt="" />
      <div class="line"></div>

      <div class="sector">
        <div class="sector-title mt-20">
          <h3>¿Cuál(es) grupo(s) poblacional(es) recibe atención en este punto?</h3>
        </div>
        <br />
        <div class="checkbox" *ngFor="let grup of points.grupo.grupos;">
          <mat-checkbox  [(ngModel)]="grup.grup" class="custom-frame">
            {{grup.name}}
          </mat-checkbox>
        </div>

      </div>

      <div class="sector">
        <div class="sector-title mt-20">
          <h3>Sector: </h3>

        </div>
        <br />
        <div class="checkbox" *ngFor="let sect of points.sectores.sector;">
          <mat-checkbox  [(ngModel)]="sect.sector" class="custom-frame">
            {{ sect.name }}
          </mat-checkbox>

        </div>
      </div>

      <div class="capacidad">
        <div class="title mt-20">
          <h3>Oferta</h3>
        </div>
        <div style="width: 80% !important;" class="input-group input-content">
          <input [(ngModel)]="points.oferta" type="text" class="input" />
        </div>
      </div>

      <div class="capacidad">
        <div class="title mt-20">
          <h3>Cantidad de entrega diaria</h3>
        </div>
        <div style="width: 80% !important;" class="input-group input-content">
          <input [(ngModel)]="points.capacidad" type="text" class="input" />
        </div>
      </div>

      <div class="line"></div>

      <div class="">
        <h3>El punto estará activo durante los meses de: </h3>
        <br />

        <div class="row">
          <div class="content-date">
            <mat-form-field style="width: 200px; text-align: center;">
              <input class="fecha" [(ngModel)]="points.ubication.fechaInit" matInput
                [matDatepicker]="picker" placeholder="Desde" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="content-date">
            <div style="display: block;">
              <mat-form-field style="width: 200px; text-align: center;">
                <input class="fecha" [(ngModel)]="points.ubication.fechaFin" matInput
                  [matDatepicker]="picker2" placeholder="Hasta" />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="line"></div>

      <div class="horarys">
        <div class="title">
          <h3>Horario de atención: </h3>
        </div>
        <br />

        <div class="content-picker" style="margin-left: 40px;">
          <div class="container-horarys">
            <div class="row" *ngFor="let dia of points.horarys.dias">
              <label for="" style="width: 80px; margin-right: 20px;">{{
                dia.dia
              }}</label>
              <div class="content-date" style="text-align: center;">
                <input [(ngModel)]="dia.horaInic" matInput type="time" />
              </div>
              <div class="content-date" style="text-align: center;">
                <input [(ngModel)]="dia.horaFin" matInput type="time" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="line"></div>

      <div class="contact">
        <div class="row">
          <div class="col">
            <h3>Nombre de contacto</h3>
            <div class="input-group mb-3 input-content address-input">
              <input type="text" [(ngModel)]="points.contact.name"
                placeholder="Nombre y apellido" class="input" />
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <h3>Teléfono</h3>
            <div class="input-group mb-3 input-content address-input">
              <input type="text" [(ngModel)]="points.contact.telefono"
                placeholder="Número de telefono" class="input" />
            </div>
          </div>

          <div class="col">
            <h3>Email</h3>
            <div class="input-group mb-3 input-content address-input">
              <input type="text" [(ngModel)]="points.contact.email"
                placeholder="Correo electronico" class="input" />
            </div>
          </div>

        </div>

      </div>
      <div class="line"></div>

      <div *ngIf="id; then elseBlock else thenBlock"></div>
      <ng-template #thenBlock>
        <div class="text-center">
          <button type="button" (click)="registerPoint(false)" class="btn my-4"
            style="background-color: #ea9c27; color: white;">
            Crear Punto
          </button>

          <button type="button" (click)="registerPoint(true)" class="btn my-4"
            style="background-color: #11cdef; color: white;">
            Buardar Como Borrador
          </button>
        </div>
      </ng-template>

      <ng-template #elseBlock>
        <button type="button" (click)="updatePoint()" class="btn my-4" style="background-color: #ea9c27; color: white;">
          Actualizar
        </button>
      </ng-template>



    <!-- </form> -->

  </div>

</div>
