#map {
  height: 90vh;
  width: 100%;
}

mat-sidenav-container {
  background-image: url("../../../assets/img/fondoLateral.jpeg");
}



.nav-content{
  // overflow-y: hidden;
  height: 80% !important;
  transition: ease-in-out 1s;
}

.content-point{
  height: 1300px;
}

.fecha-fin{
  width: 310px;
  margin: auto;
}

.text-center{
  text-align: center;
}

.float-button{
  box-sizing: border-box;
  font-size: 20px;
  width: 55px;
  height: 55px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9;
  background: cyan;
  border-radius: 50%;
  position: absolute;
  box-shadow: 10px 3px 26px -1px rgba(0,0,0,0.75);
}

.nav-content::-webkit-scrollbar{
  width: 5px;
  margin-right: 10px;
}

.nav-content::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.nav-content::-webkit-scrollbar-thumb{
  width: 20px;
  border-radius: 10px;
  background: cyan;
}
.nav-content::-webkit-scrollbar-button{
  width: 20px;
}

mat-sidenav{
  height: 100% !important;
}

.expant{
  overflow-y: auto;
  height: 100% !important;
}


#float{
  position: absolute;
  bottom: 10%;
  label{
    margin-left: 75px;
    /* vertical-align: baseline; */
    margin-top: 17px;
  }

}


mat-sidenav{
  // overflow-y: hidden;
}

.content {
  margin: 0 40px 70px 40px;
}

.line {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 90% !important;
}

.list {
  list-style-type: circle;
  li{
    color: green;
    width: 80%;
  }
}

.desc{
  text-align: center;
  label{
    font-weight: bold;
  }
}

.contact {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.line-title {
  border: 1px solid darkgray;
  width: .5px;
  margin-left: 25px;
  margin-right: 15px;
}

.menu_button {
  background: white;
  width: 40px;
  height: 100%;
  text-align: end;
}

.spans {
  width: 60%;
  margin: auto;
  text-align: center;
}

mat-sidenav {

  position: absolute;
  top: 50px !important;
  left: 40px;
}

.content-info {
  margin: 0 120px;
  width: 124px;
}

.icon {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.image-point {
  width: 200px;
  height: 220px;
  display: flex;
  margin: auto;
}

.horary {
  text-align: center;
  margin-top: 50px;

  p {
    margin-bottom: 0;
  }
}

.nav-content {
  width: 100%;
  height: 100%;
}

.text {
  font-size: 13px;
  color: darkgray !important;
  margin-left: 20px;
}

.custon-btn {
  margin-left: 20px;

  button {
    width: 100px;
    border-radius: 1rem;
  }
}

.dropdown-menu {
  height: 200px;
  overflow-x: auto;
}

@media only screen and (max-width: 600px) {
  mat-sidenav {
    left: 0;
  }

  mat-toolbar {
    width: fit-content;
  }

  #map {
    width: 140%;
  }
}

@media only screen and (max-width: 300px) {


  #map {
    width: 200%;
  }
}
