<!-- <app-navbar></app-navbar> -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <!-- <app-navbar></app-navbar> -->
    <!-- <app-admin-nav ></app-admin-nav> -->

    <!-- nav  -->
    <div class="content" routerlink="">
      <div class="row">
        <div class="col-md-5">
          <a href="index.html">
            <img width="110" src="./assets/img/Logo Identidad.png" class="navbar-brand-img" alt="...">

          </a>
        </div>
        <div class="line-title"></div>
        <div class="col-md-1">
          <a href="">
            <img width="130" src="./assets/img/Gifmm.jpg" class="navbar-brand-img" alt="...">

          </a>
        </div>
      </div>

    </div>
    <div *ngIf="infoPoint == false" class="nav-content expant" id="nav-content">


      <app-notifi #notify (click)="setPost(notify)"></app-notifi>
    </div>
    
    <div *ngIf="infoPoint == true" class="nav-content expant" id="nav-content">

      <div class="content-point">
        <!-- <mat-icon class="icon">home</mat-icon> -->
        <img class="image-point" [src]="point.img" alt="">
        <h4 style="text-align: center;">{{point.title}}</h4>
        <div class="spans">
          <span *ngFor="let sect of point.sectores">{{sect.sector}} </span>
        </div>

        <div class="line"></div>

        <div class="contact">
          <label for="">Tel: {{point.contact.telefono}} - Email: {{point.contact.email}}</label>
        </div>
        <div class="line"></div>


        <div class="container horary" *ngFor="let hora of point.horarys">


          <div class="list-data" #horay *ngIf="hora.dia == today">
            <div>
              <ul class="list">
                <li>Punto con capacidad disponible</li>
                <div *ngIf="hora.horaInic != ''; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  <li>Abierto en este momento</li>
                </ng-template>

                <ng-template #elseBlock>
                  <li>Cerrado en este momento</li>
                </ng-template>
              </ul>


            </div>
            <!-- <ng-template #elseBlock>
              <p >Cerrado</p>
            </ng-template> -->
          </div>

        </div>

        <div class="desc-content">
          <div class="desc">
            <label for=""> Descripción del punto de apoyo.</label>
            <p>
              {{point.desc}}
            </p>
          </div>
        </div>
        <div class="line"></div>

        <div class="fecha-fin">
          <div class="container">
            <div class="text-center">
              <label for=""><b>Fecha en la que el punto de atención prestará serviciones</b> </label>
              <ul class="list">
                <li>{{getDate(point.ubication.fechaFin)}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="line"></div>


        <div class="list-horary">
          <div class="container">
            <div class="text-center">
              <label for=""><b>Horario de atención</b> </label>

            </div>
            <div class="row" *ngFor="let d of point.horarys">
              <div class="col-4">
                <span><b>{{d.dia}}: </b></span>
              </div>
              <span *ngIf="d.horaInic != ''">{{d.horaInic}} - {{d.horaFin}}</span>
              <span *ngIf="d.horaInic == ''">No hay atención</span>


            </div>
          </div>
        </div>
        <div class="line"></div>
        <div class="contac">
          <div class="container">
            <div class="text-center">
              <label for=""><b>Contactos</b> </label>

            </div>
            <div class="text-center">
              <p>{{point.contact.name}}</p>
              <p>{{point.contact.email}} - {{point.contact.telefono}}</p>
            </div>
            <!-- <p>{point.contact.email}} - {{point.contact.telefono}}</p> -->
          </div>
        </div>
        <div *ngIf="point.listOrgs">
          <div class="line"></div>
          <div class="contac" >
            <div class="container">
              <div class="text-center">
                <label for=""><b>Organizaciones que apoyan este punto</b> </label>

              </div>
              <div class="text-center" *ngFor="let org of point.listOrgs">
                <p>{{org.data.orgName}}</p>
              </div>
              <!-- <p>{point.contact.email}} - {{point.contact.telefono}}</p> -->
            </div>
          </div>
        </div>


      </div>
    </div>
    <!-- <div id="float">
     
      
      <button (click)="moreInfo()" class="float-button" mat-button>
        <mat-icon class="icon-float">arrow_right</mat-icon>
      </button>
      <label>
        Ver mas noticias de interes
      </label>

    </div> -->
    <!--  end nav  -->

  </mat-sidenav>

 

  <mat-sidenav-content>
    <mat-toolbar style="background-color: #000;
      height: 50px;
      padding: 0;">
      <div class="menu_button">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>

      <span style="color: #FFF; "></span>



      <div class="" style="line-height:  40px; margin: 10px; margin-left: auto;">
        <i class="fa fa-search" style="color: yellow"></i>
      </div>
      <div class="" style="line-height:  40px;">
        <label class="" style="font-size: 13px; color: darkgray;">Busqueda de puntos de apoyo </label>
        <mat-icon style="color: aquamarine; vertical-align: middle;">keyboard_arrow_right</mat-icon>
      </div>
      <div class="dropdown text">
        <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" style="color: darkgray;" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{cityLabel}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <label class="dropdown-item" (click)="setCity($event)"
            *ngFor="let city of listData">{{city.departamento}}</label>

        </div>
      </div>
      <div class="dropdown text">
        <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" style="color: darkgray;" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{tipeLabel}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <label class="dropdown-item" (click)="setTipe($event)"
            *ngFor="let sector of listSectores.sector">{{sector.name}}</label>
        </div>
      </div>
      <div class="custon-btn" *ngIf="buscar" style="line-height:  40px;">
        <button class="btn btn-sm " (click)="getPointsCustoms()" style="background-color: #00acb0;">Buscar</button>
      </div>
      <div class="custon-btn" *ngIf="!buscar" style="line-height:  40px;">
        <button class="btn btn-sm " (click)="resetear()" style="background-color: #eb4a0b;">Limpiar</button>
      </div>
      <span style="color: #00acb0; font-size: 30px; margin-left: 15px;">|</span>
      <div style="padding: 10px;" *ngIf="isBlogInic" (click)="showBlog()">
        <mat-icon style="color: rgb(233, 12, 12);">assignment</mat-icon>
        <!-- <mat-icon svgIcon="list"></mat-icon> -->
        <span style="color: #FFF;font-size: 13px;padding: 5px;vertical-align: text-bottom;">Blog</span>

      </div>

      <div style="padding: 10px;" *ngIf="!isBlogInic" (click)="showBlog()">
        <mat-icon style="color: rgb(233, 12, 12);">assignment</mat-icon>
        <!-- <mat-icon svgIcon="list"></mat-icon> -->
        <span style="color: #FFF;font-size: 13px;padding: 5px;vertical-align: text-bottom;">Inicio</span>

      </div>
    </mat-toolbar>


    <!-- Add Content Here -->
    <div *ngIf="isMap" #mapContainer id="map"></div>
    <app-blog *ngIf="isBlog" #blog (click)="setPost(blog)"></app-blog>
    <app-post *ngIf="post" [post]="post"></app-post>



  </mat-sidenav-content>

</mat-sidenav-container>
<app-footer></app-footer>
