<div class="container-fluid">
  <!-- Table -->
  <app-spinner-overlay [overlay]="overlay"></app-spinner-overlay>

  <div class="container">

    <div class="row">
      <div class="col-md-6"></div>
      <div class="">
        <button class="btn redondeado " (click)="public()" style="background-color: gray; color: aliceblue;">GUARDAR BORRADOR</button>
        <button class="btn btn-warning redondeado" (click)="public()" style="color: aliceblue;">PUBLICAR</button>
      </div>

    </div>

  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12 py-4 mb-5">
        <form [formGroup]="entradaForm" class="form-row mb-5" novalidate>
          <div class="col-md-12">
            <div class="form-group">
            <h4>{{titlePage}}</h4>
            </div>
          </div>
          <div class="col-md-8">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" formControlName="title" class="form-control redondeado" placeholder="Título" />
              </div>
            </div>
            <div class="row col-12 mt-4">

              <div class="col-md-6">
                <div class="form-group">
                  <select formControlName="category" placeholder="Categoría" class="form-control redondeado">
                    <option selected disabled>Categoría</option>
                    <option *ngFor="let cat of catgList" value="cat.organi">{{cat.organi}}</option>
                  </select>
                </div>
              </div>

              <!-- imagen -->
              <div class="col-md-6">
                <div class="form-group">
                  <input type="file" formControlName="image" (change)="cambioArchivo($event)"
                    class="form-control redondeado" />
                </div>
              </div>
              <!-- imagen -->

            </div>

          </div>
          <div class="col-md-4">
            <div class="col-md-12">
              <div class="form-group">
                <textarea type="text" formControlName="descp" class="form-control"
                  style="border-radius: 10px; height:120px" placeholder="Resumen"></textarea>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <hr />
          </div>
          <!-- text-editor  -->
          <div class="col-md-12">

            <quill-editor formControlName="text" [styles]="qEStyles" [modules]="config"></quill-editor>

          </div>


        </form>
      </div>

    </div>
  </div>

</div>