.content {
  width: 360px;

}

.img {
  margin-left: 22%;
}

.main {
  height: 88vh;
  padding-top: 140px;
}

.img-noti {
  width: 250px;
  height: 150px;
  margin-left: 50px;
  border-radius: 1rem;
}

p {
  margin-top: -5px;
  margin-bottom: 3rem;
}



mat-icon {
  vertical-align: text-bottom;
}






.content-noti {
  height: 20rem;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
}
