<!-- <ngx-simplebar [options]="options"> -->
<div class="content">
  
  <div class="content-noti">
    <div *ngFor="let post of listPost">
      <div class="container" (click)="setPost(post)">
        <img class="img-noti" src="{{post.img}}" alt="">

      </div>
      <p style="text-align: center; font-size: 22px;">{{post.title}}</p>
    </div>
  </div>
</div>
<!-- </ngx-simplebar> -->
