<div class="main-content">
  <app-spinner-overlay [overlay]="overlay"></app-spinner-overlay>

  <mat-accordion>

    <!-- model acordion -->
    <mat-expansion-panel style="background: rgba(240, 243, 240, 0.98);" *ngFor="let organy of listOrganys">
      <mat-expansion-panel-header>

        <mat-icon class="icon">brightness_1</mat-icon>

        <!-- <label for="" *ngFor="let sector of point.sectores" *ngIf="sector.valid">{{sector.sector}}</label> -->
        <label class="pd-15 label-weigt" style="width: 150px;" for="">{{organy.data.name}}</label>

        <!-- <span>{{organy.data.ubication.departamento}}, {{organy.data.ubication.municipio}}</span> -->



        <div *ngIf="organy.data.statusActive; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <button class="validado" mat-button>Validado</button>
        </ng-template>

        <ng-template #elseBlock>
          <button class="validar" (click)="validUser(organy)" mat-button>Validar</button>
        </ng-template>
        <!-- <ng-template #thenBlock>
          <span style="margin: auto;">Validado</span>
        </ng-template> -->

        <!-- <ng-template #elseBlock>
          <span style="margin: auto;">Pendiente</span>
          <button style="margin: auto;" class="validar"  (click)="validUser(organy)" mat-button>Validar</button>
        </ng-template> -->



      </mat-expansion-panel-header>

      <div class="containre">
        <!-- <div class="row">
          <div class="col-4">
            <div class="content">
              <label for=""><b>Contactos:</b></label>
              <p>email: {{organy.data.email}}</p>
            </div>
          </div>
          <div class="col-5">
            <div class="content">
              <label for=""><b>Rango de actividad:</b></label>
              <p></p>
              <p>{{organy.data.email}}</p>
            </div>
          </div>
        </div> -->
        <div class="row">

          <div class="col-12 data" style="display: flex;">
            <div class="content">
              <label for=""><b>Contactos:</b></label>
              <p>email: {{organy.data.email}}</p>
            </div>
            <button *ngIf="role == 'ADMIN'" mat-button class="validar custon" (click)="deleteOrgany(organy)">
              
              <label for="" class="ng-star-inserted label" style="vertical-align: initial;">Eliminar
                Organización</label>
            </button>

          </div>

        </div>
      </div>

    </mat-expansion-panel>


  </mat-accordion>


</div>
