.more{
    margin: 0 10px 0 auto;
}


.icon{
    margin-right: 20px;
}

.pd-15{
    padding-top: 15px !important;
}

.label{
    vertical-align: bottom;
}

.main-content{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.user-delete{
    margin-right: 20px;
}

.data{
    padding: 10px;
    padding-left: 70px;
    padding-top: 20px;
}

.custon{
    width: 165px !important;
    background-color: darkgray !important;
    color: aliceblue !important;
}

.delete{
    background: darkgray;

}

.user-label{
    margin-left: 70px;
}

.label-weigt{
    font-weight: bold;
}

.validado{
    background: aquamarine;
    width: 150px;
    border-radius: 1rem;
    height: 35px;
    margin-left: auto;
    margin-top: 16px;
    margin-right: 20px;
}

.validar{
    background: #000;
    width: 150px;
    color: darkgray;
    border-radius: 1rem;
    height: 35px;
    margin-left: auto;
    margin-top: 16px;
    margin-right: 20px;
}

.icon{
    height: 18px !important;
    width: 18px !important;
    margin-top: 10px !important;
}