<!-- <ngx-avatar src="assets/img/profile.jpg" size="100"></ngx-avatar> -->
<div class="tile-content">
  <mat-icon class="icon-title">arrow_right</mat-icon>
  <h2>Filtrar por: </h2>

 <div class="date">
  <mat-form-field class="date">
    <input matInput [matDatepicker]="picker" placeholder="Fechas" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

 </div>
  <!-- <mat-form-field class="select">
    <mat-select placeholder="Region">
      <mat-option *ngFor="let depto of listData" [value]="depto.departamento">
        {{ depto.departamento }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->


  <button class="buscar" mat-flat-button>Buscar </button>



</div>
<mat-tab-group>


  <mat-tab label="Organización">
    <app-admin-points></app-admin-points>

  </mat-tab>
  <mat-tab label="Colaboradores">
    <app-admin-users></app-admin-users>

  </mat-tab>
</mat-tab-group>
