<div class="body-content">
  <div class="main-content">
    <!-- Header -->
    <div class="py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <img src="./assets/img/Logo Identidad 2 blanco.png" alt="fondo inicio de sesion">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5 form-data">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card  shadow border-0">

            <div class="card-body" style="height: 575px; margin-bottom: 50px;">
              <div class="text-center text-muted mb-4">
                <h1>INICIAR SESIÓN</h1>
              </div>
              <mat-progress-spinner mode="indeterminate" *ngIf="isLogin" diameter="50" style="margin: auto;">
              </mat-progress-spinner>

              <form [formGroup]="loginForm" novalidate>
                <mat-form-field>
                  <input matInput [(ngModel)]="user.email" formControlName="email" placeholder="Usuario/Correo" />
                </mat-form-field>
                <mat-form-field>
                  <input type="password" matInput [(ngModel)]="user.password" formControlName="password"
                    placeholder="Contraseña" />

                </mat-form-field>

                <div style="text-align: center;">
                  <a href="#">¿Olvido su contraseña?</a>
                </div>

                <div class="text-center">
                  <button type="button" (click)="login()" class="btn my-4"
                    style="background-color: black; color: white;">Continuar</button>
                </div>



              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-7 form-data">
          <div class="card  shadow border-0">
            <div class="card-body" style="height: 575px; margin-bottom: 50px;">
              <div class="text-center text-muted mb-6">
                <h1>ABRIR CUENTA</h1>
              </div>
              <mat-progress-spinner mode="indeterminate" *ngIf="isRegister" diameter="50" style="margin: auto;">
              </mat-progress-spinner>
              <form [formGroup]="registerForm" novalidate>
                <mat-radio-group formControlName="type" [(ngModel)]="organy.type" aria-label="Select an option">
                  Colaborador<mat-radio-button style="margin-left: 10px;" checked value="1"></mat-radio-button>
                  Organización<mat-radio-button style="margin-left: 10px;" value="2"></mat-radio-button>

                </mat-radio-group>

                <mat-form-field *ngIf="organy.type == 1">
                  <input matInput [(ngModel)]="organy.name" formControlName="name" placeholder="Nombre Colaborador" />
                </mat-form-field>

                <mat-form-field *ngIf="organy.type == 2">
                  <input matInput [(ngModel)]="organy.name" formControlName="name" placeholder="Nombre Organización" />
                </mat-form-field>

                <mat-form-field>
                  <input matInput [(ngModel)]="organy.email" formControlName="email" placeholder="E-mail" />

                </mat-form-field>

                <mat-form-field>
                  <input type="password" matInput [(ngModel)]="organy.password" formControlName="password"
                    placeholder="Contraseña" />

                </mat-form-field>
                <mat-form-field>
                  <mat-select [(ngModel)]="organy.typeOrg" #data (selectionChange)="setOrg(data)"
                    formControlName="types" placeholder="Tipo de Organización">
                    <mat-option value="0">
                      Miembros del GIFMM
                    </mat-option>
                    <mat-option value="1">
                      Gobierno
                    </mat-option>
                    <mat-option value="2">
                      Otros
                    </mat-option>

                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="organy.type == 1 && organy.typeOrg">
                  <mat-select [(ngModel)]="organy.organization" (selectionChange)="setId($event)"
                    formControlName="organization" placeholder="Elija su organización">
                    <div *ngFor="let org of listOrganys">
                      <mat-option *ngIf="organy.typeOrg == org.data.typeOrg"  value="{{org.id}}">
                        {{org.data.name}}
                      </mat-option>
                    </div>


                  </mat-select>
                </mat-form-field>

                <!-- <mat-form-field *ngIf="organy.typeOrg == 1 || organy.types == 2">
                  <input matInput [(ngModel)]="organy.organization" formControlName="organization"
                    placeholder="A que organización pertenece" />
                </mat-form-field> -->

                <div class="text-center">
                  <button type="button" (click)="registerUser()" class="btn my-4"
                    style="background-color: black; color: white;">Continuar</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <app-footer-admin></app-footer-admin>



  </div>
