<mat-nav-list>
    <a  mat-list-item (click)="openLink($event)">
      <span mat-line>Google Keep</span>
      <span mat-line>Add to a note</span>
    </a>
  
    <a mat-list-item (click)="openLink($event)">
      <span mat-line>Google Docs</span>
      <span mat-line>Embed in a document</span>
    </a>
  
    <a mat-list-item (click)="openLink($event)">
      <span mat-line>Google Plus</span>
      <span mat-line>Share with your friends</span>
    </a>
  
    <a mat-list-item (click)="openLink($event)">
      <span mat-line>Google Hangouts</span>
      <span mat-line>Show to your coworkers</span>
    </a>
  </mat-nav-list>