<div class="main">
  <div class="col-md-12">
    <div class="form-group">
      <button type="button" class="btn btn-azul redondeado col-md-6">API KEY GOOGLE MAPS</button>
    </div>
  </div>

  <div class="input-group mb-3 input-content address-input">
    <input type="text" [(ngModel)]="key" class="input" aria-label="Username" aria-describedby="basic-addon1" />
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <button type="button" class="btn btn-reali redondeado col-md-6">GUARDAR</button>
    </div>
  </div>
</div>
