<!-- <app-filter></app-filter> -->
<div class="main-container">
  <div class="filter">
    <div class="tile-content">
      <mat-icon class="icon-title">arrow_right</mat-icon>
      <h2> <b>Filtrar por: </b>  </h2>

      <div class="container">
        <button class="btn-filt" (click)="setData(1)" mat-flat-button><b> Sector</b> </button>
      </div>
      <div class="container">
        <button class="btn-filt"  (click)="setData(3)" mat-flat-button><b> Organización</b>  </button>

      </div>

      <div class="container">
        <button class="btn-filt"  (click)="setData(2)" mat-flat-button><b> Region</b>  </button>

      </div>

      <div class="help">
        <button (click)="captured()" class="capture" mat-flat-button>
          <mat-icon>video_label</mat-icon> Imprimir
        </button>
        <!-- <button class="buscar" mat-flat-button>Buscar </button> -->

      </div>

    </div>

  </div>

  <div class="body">
    <div class="row">
      <div class="col">

        <mat-list *ngIf="data ==1 || init">
          <div class="sector">
            <div class="row">
              <div class="col label-content">
                <mat-icon class="icon-sector">radio_button_checked</mat-icon>

                <label class="label" for=""><b> Sector</b></label>

              </div>
              <div class="col label-content">
                <mat-icon class="icon-sector">arrow_drop_down_circle</mat-icon>
                <label class="label" for=""><b>Puntos de apoyo</b></label>

              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-list-item *ngFor="let sector of listSectores">
                  {{sector.sector}}
                </mat-list-item>
              </div>
              <div class="col">
                <mat-list-item *ngFor="let sector of listSectores">
                  <mat-progress-bar color="#000" mode="determinate" [value]="sector.cantidad"> </mat-progress-bar>
                  {{sector.cantidad}}
                 
                </mat-list-item>
              </div>
            </div>
          </div>

        </mat-list>

        <mat-list *ngIf="data == 2 || init">
          <div class="sector">
            <div class="row">
              <div class="col label-content">
                <mat-icon class='icon-dep'>radio_button_checked</mat-icon>

                <label class="label" for=""><b>Departamento</b></label>

              </div>
              <div class="col label-content">
                <mat-icon  class='icon-dep'>arrow_drop_down_circle</mat-icon>
                <label class="label" for=""><b>Puntos de apoyo</b></label>

              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-list-item *ngFor="let sector of listDepartament">
                  {{sector.sector}}
                </mat-list-item>
              </div>
              <div class="col">
                <mat-list-item *ngFor="let sector of listDepartament">
                  <mat-progress-bar color="#000" mode="determinate" [value]="sector.cantidad"> </mat-progress-bar>
                  {{sector.cantidad}}
                 
                </mat-list-item>
              </div>
            </div>
          </div>

        </mat-list>

        <mat-list *ngIf="data == 3 || init">
          <div class="sector">
            <div class="row">
              <div class="col label-content">
                <mat-icon class='icon-otro'>radio_button_checked</mat-icon>

                <label class="label" for=""><b>Organización</b></label>

              </div>
              <div class="col label-content">
                <mat-icon class='icon-otro'>arrow_drop_down_circle</mat-icon>
                <label class="label" for=""><b>Puntos de apoyo</b></label>

              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-list-item *ngFor="let sector of listOrg">
                  {{sector.sector}}
                </mat-list-item>
              </div>
              <div class="col">
                <mat-list-item *ngFor="let sector of listOrg">
                  <mat-progress-bar color="#000" mode="determinate" [value]="sector.cantidad"> </mat-progress-bar>
                  {{sector.cantidad}}
                 
                </mat-list-item>
              </div>
            </div>
          </div>

        </mat-list>

        

      </div>
      <div class="col">
        <div #mapContainer id="map"></div>

      </div>
    </div>


    
  </div>





</div>
