.main-content {
    height: 85%;
    background: #f7f3f3;
}

.date{
    text-align: center;
    margin-left: 20px;
    width: 120px;
}

.container{
  font-size: 12px;
}

.label-content{
  margin-left: 10px;
}

.label{
  vertical-align: super;
  margin-left: 5px;
}

mat-list{
  margin-bottom: 20px;
}

.body{
  padding: 20px;
}

.icon-sector{
  color: rgba(240, 166, 6, 0.925);
}

.icon-dep{
  color: rgba(235, 87, 82, 0.925);

}

.icon-otro{
  color: rgba(79, 121, 212, 0.774);

}


.center{
    margin-left: 10px;
    margin-right: 10px;
}

mat-progress-bar{
  height: 30px !important;
  margin-right: 10px;
}

p{
  font-size: 12px
}

.select {
    margin-left: 20px;
    width: 120px;
}

.acordion{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.buscar{
    margin-left: auto;
    width: 120px;
    height: 40px;
    border-radius: 1rem;
    margin-top: 10px;
    color: darkgray;
}

.title-label{
  width: 70px;
}

mat-expansion-panel-header{
  background: transparent;
}

.best-header{
  background: white;
}

.tile-content {
  display: flex;
  justify-items: left;
  /* justify-content: center; */
  padding: 20px;
  border-bottom: 1px darkgray solid;
  width: 90%;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 20px;

}


h2 {
  font-size: 18px;
  margin-top: 20px;
}

.icon-title {
  background: rgb(240, 200, 25);
  color: azure;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 20px;
}

label {
  margin: auto;
}

.status {
  margin-top: 12px;
}

#map {
    margin-top: 20px;
   border-radius: 1rem;
   width: 80%;
   height: 60vh;
  }
  
.status-select {
  width: 120px;
}

.delete {
  margin-left: auto;
  margin-top: 20px;
}

img {
  margin-left: 40px;
}

.container{
    padding-top: 20px;
}

.help{
    margin-top: 15px;
}

.capture{
    width: 120px;
    background: darkturquoise;
    color: white;
    border-radius: 1rem;
}

.btn-filt:focus{
    background: rgb(240, 200, 25);
    border: none;
}

.btn-filt{
    border: solid 1px darkgray;
    height: 2rem;
    border-radius: 1rem;
    width: 140px;
}


