<div class="main">
  <div class="col-md-12">
    <div class="form-group">
      <button type="button" class="btn btn-azul redondeado col-md-6">Crear nueva categoria de entradas de blog</button>
    </div>
  </div>

  <div class="input-group mb-3 input-content address-input">
    <input type="text" [(ngModel)]="key" class="input" aria-label="Username" aria-describedby="basic-addon1" />
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <button type="button" (click)="setOrg()" class="btn btn-reali redondeado col-md-6">GUARDAR</button>
    </div>
  </div>

  <div class="line"></div>
  <div class="main">
    <div class="col-md-12">
      <div class="form-group">
        <button type="button" class="btn btn-azul redondeado col-md-6">Categorias Creadas</button>
      </div>
    </div>
    <div class="list">
      <div class="list-org">
        <div class="content" *ngFor="let cat of listCatg">
          <div class="col-5">
            <mat-checkbox class="custom-frame">
              {{cat.data.organi}}
            </mat-checkbox>
          </div>
          <button (click)="delete(cat.id)" class="delete btn redondeado col-md-3">Eliminar</button>
        </div>
      </div>
    </div>
  </div>


</div>
