.main-content {
  height: 85%;
  background: #f7f3f3;
}

.date {
  text-align: center;
  width: 120px;
}

.container {
  font-size: 12px;
}

p {
  font-size: 12px
}

.select {
  margin-left: 20px;
  width: 140px;
    padding-left: 25px;
}

.acordion {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.buscar {
  margin-left: auto;
  width: 120px;
  height: 40px;
  border-radius: 1rem;
  margin-top: 10px;
  color: darkgray;
  border: 1px solid;
}

.width {
  width: 100px !important;
}

.activo {
  /* width: 120px; */
  height: 35px;
  border-radius: 2rem;
  margin-top: 10px;
  background: rgb(16, 225, 240);
  color: white;
}

.pendiente {
  height: 35px;
  border-radius: 2rem;
  margin-top: 10px;
  background: rgb(240, 87, 16);
  color: white;
  width: 120px;
  font-size: 17px;
  padding: 8px;
}

.leyend{
  text-align: center;
  padding: 50px;
}


.mg-top {
  margin-top: -20px;
}

.title-label {
  width: 150px;
  font-size: 18px;
}


.data1 {
  padding: 0;
}

.best-header {
  background: white;
}

.label-amp {
  width: max-content;
}

.tile-content {
  display: flex;
  justify-items: left;
  /* justify-content: center; */
  padding: 20px;
  border-bottom: 1px darkgray solid;
  width: 90%;
  margin: auto;
  padding-top: 50px;

}


h2 {
  font-size: 18px;
  margin-top: 20px;
}

.icon-title {
  background: rgb(240, 200, 25);
  color: azure;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 20px;
}

.ver {
  background: rgb(247, 147, 44);
  color: white;
  border: none;
  position: relative;
  left: 0;
  z-index: 0;
  bottom: 10px;
  height: 35px;
  width: 125px !important;
}

mat-expansion-panel-header {
  height: 90px !important;
  background: transparent;
  vertical-align: text-bottom !important;

}

mat-form-field{
  background: white;
  border-radius: 2rem;
  height: 50px;
  margin-top: 10px;
}

.line {
  margin-top: 10px !important;
}

/* label {
  margin-left: 25px;
} */

.status {
  margin-top: 12px;
}

.status-select {
  width: 120px;
}

.delete {
  background: rgba(192, 31, 19, 0.781);
  color: #f7f3f3;
}

.date-content {
  text-align: initial;
}

img {
  margin-left: 40px;
}
