<div class="container">
  <div class="content">
    <div class="title-content">
      <h2>{{post.title}}</h2>
      <span>{{date}}</span>
    </div>
    <div class="constent-body">
      <div class="body">
        <img [src]="post.img" alt="">
        <div #descp id="descp">
          {{setText(post.text)}}

          

        </div>
      </div>
    </div>
  </div>
</div>
