.container{
    height: 87vh;
    background: white;
}

.content{
    padding: 10% 20% 0 20%;
}

.title-content{
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
    width: 100%;
}

.constent-body{
    margin-top: 20px;
}

.body{
    margin: 10px 20px 0px 20px;
}

#descp{
    margin-top: 20px;
}

img{
   
    width: 90%;
    height: 400px;
    border-radius: 1rem;
    margin: auto;
    justify-content: left;
    display: flex;
}

p{
    margin-top: 40px;
}