/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-connected-position-bounding-box {
  left: 0 !important;
  /* position: absolute;
  z-index: 5;
  background: white;
  width: 30%; */

}

.mat-expansion-indicator{
  display: none;
}

.mat-toolbar.mat-primary {
  z-index: 9999;
  position: relative;
}

.body-content {
  background-image: url("./assets/img/fondo-grande.jpg");
}

.mat-form-field-underline {
  display: none;
}

.gmnoprint{
  display: none;
}
/* 
.mat-form-field-wrapper {
  padding-left: 10px;
  border: 1px solid darkgray;
  border-radius: 2.5rem;
  margin-bottom: 10px;
  padding-right: 10px;
} */


.mat-drawer-inner-container {
  background-image: url("./assets/img/fondoLateral.jpeg");
  overflow-y: hidden !important;
  height: 90% !important;
  overflow-x: hidden !important;
  padding-bottom: 60px;
}

.line {
  height: 1px;
  margin-top: 35px !important;
  margin-bottom: 35px !important;
  border-top: 1px darkgrey solid;
}

.mat-checkbox-background,
.mat-checkbox-frame {
  border-radius: 70% !important;
}

.scroll-hidden{
  overflow-y: hidden !important;
  height: 80% !important;
}


.ngx-editor-textarea {
  height: 300px !important;
}

.mat-tab-header {
  width: 90%;
  margin: auto;
  padding: 50px;
}

.mat-ink-bar {
  display: none;
}

.mat-tab-label {
  background-color: rgba(240, 243, 240, 0.98);
  margin-left: 10px;
  border-radius: 2rem;
}


.mat-tab-label:focus {
  background: rgb(240, 200, 25);
  color: white;
}

.avatar-container{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

.mat-tab-header{
  padding-left: 35px;
}
