<!-- <app-filter></app-filter> -->
<div class="tile-content">
  <mat-icon class="icon-title">arrow_right</mat-icon>
  <h2>Filtrar por: </h2>

  <mat-form-field class="date">
    <input matInput [(ngModel)]="dat" [matDatepicker]="picker" placeholder="Desde" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="select">
    <mat-select [(ngModel)]="depa" placeholder="Region">
      <mat-option *ngFor="let depto of listData" [value]="depto.departamento">
        {{ depto.departamento }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <button class="buscar" (click)="buscar()" mat-flat-button>Buscar </button>



</div>
<div *ngIf="listAlerts.length > 0">
  <mat-accordion>

    <!-- model acordion -->
    <mat-expansion-panel style="background: rgba(240, 243, 240, 0.98);" *ngFor="let organy of listAlerts">
      <mat-expansion-panel-header>
  
        <mat-checkbox class="custom-frame">
          {{organy.data.action}}
        </mat-checkbox>
  
        <!-- <label for="" *ngFor="let sector of point.sectores" *ngIf="sector.valid">{{sector.sector}}</label> -->
        <label class="pd-15 label-weigt" style="width: 100px;" for="">{{organy.data.departamento}},
          {{organy.data.organy}}</label>
  
        <label class="pd-15 label-weigt" style="width: 100px;" for="">{{date(organy.data.dateCreation)}}</label>
  
        <!-- <span>{{organy.data.ubication.departamento}}, {{organy.data.ubication.municipio}}</span> -->
  
  
  
        <!-- <div *ngIf="organy.data.statusActive; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock >
          <button style="margin: auto;"  class="validado" mat-button>Validado</button>
        </ng-template>
  
        <ng-template #elseBlock>
          <button style="margin: auto;" class="validar"  (click)="validUser(organy)" mat-button>Validar</button>
        </ng-template> -->
  
        <!-- <button *ngIf="role == 'ADMIN'" mat-button class="more pd-15" (click)="deleteOrgany(organy)">
          <label for="" class="ng-star-inserted label" style="vertical-align: initial;">Eliminar Organización</label>
          <mat-icon aria-label="Side nav toggle icon">cancel</mat-icon>
        </button> -->
  
  
      </mat-expansion-panel-header>
  
      <div class="container">
        <!-- <h2>hoa</h2> -->
      </div>
  
    </mat-expansion-panel>
    
  
  </mat-accordion>
</div>
<div class="leyend" *ngIf="listAlerts.length == 0">
  <h2>No se encontraron Alertas registradas</h2>
  <br>
  <button class="buscar" (click)="reloader()"  mat-flat-button>Recargar</button>


</div>